<nav class="site-nav" role="navigation">
  <% link_to '/', class: 'title' do %>
    Real Yoga Magic
  <% end %>

  <div class="nav-links">
  <% link_to '/' do %>
   Home
  <% end %>
  <% link_to 'about' do %>
   About
  <% end %>
  <% link_to 'gallery' do %>
   Gallery
  <% end %>
  <% link_to 'contact' do %>
   Contact
  <% end %>
  </div>
  <div class="mobile-menu"><i class="fa fa-navicon"></i></div>
</nav>
