<nav class="site-nav" role="navigation">
  <% link_to '/', class: 'navbar-brand' do %>
    <%= image_tag 'logo2.png' %>
  <% end %>
  <div>Real Yoga Magic</div>

  <div class="nav-links">
  <% link_to '/' do %>
    <i class="fa fa-star"></i> Home
  <% end %>
  <% link_to '/' do %>
    <i class="fa fa-eye"></i> About
  <% end %>
  <% link_to '/' do %>
    <i class="fa fa-eye"></i> Gallery
  <% end %>
  <% link_to '/' do %>
    <i class="fa fa-eye"></i> Contact
  <% end %>
  </div>
  <div class="mobile-menu"><i class="fa fa-navicon"></i></div>
</nav>
