
html {

  background: url(assets/images/cover.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width:100%;
  height:100%;


  @include media($large-screen) {
    background: url(assets/images/cover3.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width:100%;
    height:100%;
  }
}



// ------------------------------------------------------------
// Layout
// ------------------------------------------------------------
// A simple, reusable mixin for applying
// to the top and bottom of an element.
@mixin section_padding($padding: 1em) {
  padding: $padding 0;
}

.site-header {
  @include clearfix;
  .container{
    padding-top:0;
    padding-bottom:0;

    @include media($medium-screen + 30) {
      margin-top:30px;
    }
  }

  a.title {
    padding: .6em 0;
    display:inline-block;
    font-size: 1.4em;
    font-family: Georgia,"Times New Roman",Times,serif;

    color: $base-font-color;
    @include media($medium-screen) {
      font-family: Georgia,"Times New Roman",Times,serif;
      font-size: 2.3em;
    }
  }
}

// ------------------------------------------------------------
// sections
// ------------------------------------------------------------
.container {
  background-color: rgba(#000, 0.3);
  padding:30px 80px;
}
.main-section {
  margin-bottom: 40px;
  @include outer-container;
  aside {
  	img {
  		margin-top: 30px;
  		height: auto;
  		margin-left: auto;
  		margin-right: auto;
  		display: block;
  	}
  	@include media($medium-screen) {
      @include span-columns(4);
    }
  }
  article {
    @include media($medium-screen) {
    	@include span-columns(8);
    }
  }
}

.about-section {
  @include outer-container;
  aside {
    img {
    margin-top: 30px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
    }
    @include media($medium-screen) {
   @include span-columns(4);
}
}
  article {
  @include media($medium-screen) {
    @include span-columns(8);
  }
  }
}
.contact-section {
  margin-bottom: 30px;
}


// ------------------------------------------------------------
// Typography
// ------------------------------------------------------------

h1, h2, h3,
h4, h5, h6 {
  line-height: 1; // Set line-height smaller on larger fonts
}

// ------------------------------------------------------------
// Site Nav
// ------------------------------------------------------------

.site-nav {
  @include clearfix;

  .navbar-brand {
    display: block;
    line-height: 0;
    padding: 2em 0;
    float: left;
    line-height: 0;
    color: $base-font-color;

    @include media($medium-screen) {
      padding: 2em;
    }

    i {
      font-size: 3em;
      line-height: 0;
      display: block;
    }
  }

  .site-logo {
    display: block;
    border-radius: 100%;
    margin: auto;
  }

  .nav-links {
    height: 0;
    overflow: hidden;
    max-width:460px;
    display:inline-block;
    float:right;
    padding-top: .7em;

    @include media($large-screen) {
      height: auto;
    }

    a {
      @include trailing-hovers;
      @include media($large-screen) {
        display: block;
        float: left;
        line-height: 0;
        font-weight: bold;
        color: $base-font-color;

        // I removed the top and bottom padding of the header
        // and fattened up the touch targets on these links.
        // Now they're easier to click.
        padding: 1.5em;

        &:hover {
         // color: #EFE8D5;
        }
      }
    }

    .nav-right {
      @include media($medium-screen) {
        float: right;
      }
    }
  }
}


// ------------------------------------------------------------
// Mobile Menu
// ------------------------------------------------------------

.mobile-menu {
  position: absolute;
  top: 2em;
  right: 1.5em;
  z-index: 2;

  @include media($large-screen) {
    display: none;
  }

  i {
    margin-top:-4px;
    font-size: 2em;
    line-height: 0;
    display: block;

  }

  .icon {
    display: block;
    font-size: 2em;
    cursor: pointer;
  }
}

// Menu active
.menu-active {

  .nav-links {
    height: auto;
    overflow: auto;
    position: absolute;
    top: 0px;
    left: 0;
    right: 0;
    background-color: #EFE8D5;
    box-shadow: 0 10px 10px rgba(0,43,54,.2);

    a {
      display: block;
      margin: 2em 0;
      text-align: center;
      color: #002B36;
    }
  }
}


// ------------------------------------------------------------
// gallery
// ------------------------------------------------------------

#gallery img {
  float: left;
  width: 100%;
  padding: 3% 3% 3% 0;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  display: block;
  @include media($large-screen) {
      float: left;
      width: 50%;
      padding: 3% 3% 3% 0;
  }
}


// ------------------------------------------------------------
// footer
// ------------------------------------------------------------

.footer {

}


// ------------------------------------------------------------
//Contact Page
// ------------------------------------------------------------
.info a {
  color: $dark-purple;
}
