// ------------------------------------------------------------
// Layout
// ------------------------------------------------------------

// A simple, reusable mixin for applying
// to the top and bottom of an element.
@mixin section_padding($padding: 1em) {
  padding: $padding 0;
}

.site-header {
  position: relative;
	@include clearfix;
	background-color: $medium-purple;
}

.site-main {
  @include section_padding(2em);

  @include media($medium-screen) {
    @include section_padding(5em);
  }
}
.main-section {
  @include outer-container;
  aside {
  	img {
		margin-top: 30px;
		height: auto;
		margin-left: auto;
		margin-right: auto;
		display: block;
  	}
  	@include media($medium-screen) {
   @include span-columns(4); 
}
}
  article {
  @include media($medium-screen) { 
  	@include span-columns(8); 
  }
  }
}


// ------------------------------------------------------------
// Typography
// ------------------------------------------------------------

h1, h2, h3,
h4, h5, h6 {
  line-height: 1; // Set line-height smaller on larger fonts
}

// ------------------------------------------------------------
// Site Nav
// ------------------------------------------------------------

.site-nav {
	@include clearfix;

	.navbar-brand {
		display: block;
		line-height: 0;
		padding: 2em 0;
		float: left;
		line-height: 0;
		padding-top: 0px;
		padding-bottom: 0px;

    @include media($medium-screen) {
      margin-top: 18px;

		}

    i {
      font-size: 3em;
      line-height: 0;
      display: block;
      color: #002B36;
    }
	}
	h1 {
    color: $dark-purple;
    font-size: 1.2em;
		@include media($medium-screen) {
		font-size: 4em;
		margin-top: 20px;
	}

	}

	.site-logo {
		display: block;
		border-radius: 100%;
		margin: auto;
	}

	.nav-links {
		height: 0;
		overflow: hidden;
		float: right;

		@include media($medium-screen) {
			height: auto;
		}

		a {
			@include trailing-hovers;
			@include media($medium-screen) {
				display: block;
				float: left;
				line-height: 0;
				font-weight: bold;
				color: $dark-purple;

        // I removed the top and bottom padding of the header
        // and fattened up the touch targets on these links.
        // Now they're easier to click.
				padding: 1.5em;

        &:hover {
          background: $dark-purple;
          color: #EFE8D5;
        }
			}
		}

		.nav-right {
			@include media($medium-screen) {
				float: right;
			}
		}
	}
}

// ------------------------------------------------------------
// Mobile Menu
// ------------------------------------------------------------

.mobile-menu {
	position: absolute;
	top: 2em;
	right: 1.5em;
	z-index: 2;

	@include media($medium-screen) {
		display: none;
	}

  i {
    font-size: 2em;
    line-height: 0;
    display: block;
    color: #002B36;
  }

	.icon {
		display: block;
		font-size: 2em;
		cursor: pointer;
	}
}

// Menu active
.menu-active {

	.nav-links {
		height: auto;
		overflow: auto;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: rgba(239,232,213,.95);
    box-shadow: 0 10px 10px rgba(0,43,54,.4);

		a {
			display: block;
			margin: 2em 0;
			text-align: center;
      color: #002B36;
		}
	}
}

// ------------------------------------------------------------
// footer
// ------------------------------------------------------------

.footer {
  $footer-background: desaturate(darken($medium-purple, 0), 4);
  $footer-color: $white-smoke;
  $footer-link-color: transparentize($footer-color, .2);
  $footer-disclaimer-color: transparentize($footer-color, .5);

  background: $footer-background;
  padding: $base-line-height*2 $gutter;
  width: 100%;
 

  .footer-logo {
    text-align: center;
    margin-bottom: 2em;
    i {
    	color: $white-smoke;
    }

    img {
      height: 3em;
    }
  } 

  .footer-links {
    @include clearfix;
    margin-bottom: $base-line-height;

    @include media($medium-screen) {
      @include shift(3);
    }
  }

  ul {
    margin-bottom: $base-line-height*2;

    @include media($medium-screen) {
      @include span-columns(3);
      @include omega(3n);
      @include clearfix;
    }
  }
  a {
  	color: $white-smoke;
  }

  li {
    text-align: center;

    @include media($medium-screen) {
      text-align: left;
    }
  }

  li a {
    color: $footer-link-color;

    &:hover {
      color: transparentize($footer-color, 0);
    }
  }

  li h3 {
    color: $footer-color;
    font-size: 1em;
    font-weight: 800;
    margin-bottom: .4em;
  }  

  hr {
    border: 1px solid transparentize($footer-disclaimer-color, .3);
    margin: 0 auto $base-line-height;
    width: 12em;
  }

  p {
    color: $footer-disclaimer-color;
    font-size: .9em;
    line-height: 1.5em;
    margin: auto;
    max-width: 35em;
    text-align: center;
  }
}
