---
title: Real Yoga Magic | About
---


<div>
<section class="about-section">
  <aside><%= image_tag 'kim.jpg' %></aside>
	<article>
		<h1>About</h1>
		<p>
			Kimberly Zanger Mackesy has taught yoga throughout California and overseas since 1999. Her mission is to inspire and empower individuals to work toward profound physical, mental and emotional transformations. This mission is rooted in gratitude for her own life, which she nearly lost as a young teen; profound fascination with the subject of yoga; and her calling to serve as a force for love and healing in the world.
		</p>
		<p>
			Kimberly discovered yoga at age 19, after seven years of gymnastics and the life-changing injury that ended it. Growing up in rural Northern California, where property owners often keep firearms, Kimberly had the misfortune to visit a home in which rifles were stored in the closet rather than under lock and key. An 8-year-old’s impulsive curiosity, an instant in the wrong place at the wrong time... as improbable as it sounds, Kimberly was shot by a hunting rifle. She was 13 years old.
		</p>
		<p>
			The rest of her teens were spent healing the physical and psychological wounds of the accident. Her physical body healed within months; the mental and emotional healing took years. 
		</p>
		<p>
			Kimberly’s search for holistic relief led her to enroll in her first yoga class when she was a college student at UCLA. In that weekly gentle Hatha Yoga class, Kimberly found yoga to be an incredibly powerful tool for relaxation, stress relief, and pain management. She took up the practice and enrolled in her first teacher training program at the Center for Yoga (now Yoga Works) while still an undergraduate. She discovered Iyengar Yoga during this program, and by 1999 Iyengar yoga had become her sole modality for yoga studies, practice and teaching. 
		</p>
		<p>
			Nowadays, Kimberly studies regularly with Iyengar Yoga senior teachers as well as at the Ramamani Iyengar Memorial Yoga Institute in Pune, India. She has traveled to India three times to study with Guruji B.K.S. Iyengar and his family, spending a total of six months over the past seven years there. She has attended Medical Classes to learn how to work with her injury, General Classes, Ladies’ Classes and Pranayama (yogic breathing). Having called several major cities “home,” Kimberly has also studied extensively with five Iyengar Yoga senior teachers: Paul Cabanis in Los Angeles, Sílvia Ros at the Centro de Ioga Iyengar de Barcelona, Gloria Goldberg at the Iyengar Yoga Institute of La Mesa, Gloria Goldberg at the Iyengar Yoga Institute of La Mesa Carolyn Belko at B.K.S. Iyengar Yoga North County, and Manouso Manos at the Abode of Iyengar Yoga in San Francisco. Kimberly attended the Iyengar Yoga teacher training program in San Diego, a three-year, 500+ hour program was formulated with direct guidance and continuous input from B.K.S. Iyengar.
		</p>
		<p>
			Kimberly attended the Iyengar Yoga teacher training program in San Diego, a three-year, 500+ hour program was formulated with direct guidance and continuous input from B.K.S. Iyengar.
		</p>
		<p>
			In addition to teaching yoga, Kimberly’s professional background includes extensive work in education and the nonprofit sector. She has taught academic writing, SAT preparation, substitute K-12, and English as a Second Language. As a successful grant proposal writer, Kimberly has raised more than $5 million for nonprofit organizations. In 2008 she founded Prismatic Pen, a writing and editing consultancy serving nonprofit organizations and small businesses. Kimberly’s desire to utilize all of her skills for the greater good still leads her to take on select grant writing and communications projects.
		</p>
		<p>
			When she’s not writing or practicing-teaching-studying yoga, Kimberly loves to cook, read, enjoy the ocean, hike and travel.
		</p>
	</article>
</section>

</div>






