---
title: Real Yoga Magic | Contact
---
<div>
<section class="contact-section">
	<aside>
		<h2>Certified Iyengar Yoga Instructor</h2>
		<p>Iyengar Yoga offers a systematic approach to radiant physical health and peace of mind.</p>
	</aside>
	<article>
		<ul class="info">
			<li><a href="tel:6192033123">Call (619) 203-3123</a></li>
			<li><a href="realyogamagic.com">realyogamagic.com</a></li>
			<li><a href="mailto:kimberlyzm@gmail.com">kimberlyzm@gmail.com</a></li>
		</ul>
	</article>
</section>
</div>