---
title: Real Yoga Magic | Contact
---
<div>
<section class="contact-section">
	<h2>Contact</h2>
	<aside>
		<quote>Certified Iyengar Yoga Instructor</quote>
		<blockquote>
			Iyengar Yoga offers a systematic approach to radiant physical health and peace of mind.
		</blockquote>
	</aside>
	<br />
	<article class="info">
			<a href="tel:6192033123">Call (619) 203-3123</a><br />
			<a href="realyogamagic.com">realyogamagic.com</a><br />
			<a href="mailto:kimberlyzm@gmail.com">kimberlyzm@gmail.com</a><br />
		</ul>
	</article>
</section>
</div>