---
title: Real Yoga Magic
---
<section class="main-section">
  <aside><%= image_tag 'main-image.jpg' %></aside>
	<article>
		<h3><span style="color:#a61969">K</span>imberly <span style="color:#a61969"> Za</span>nger <span style="color:#a61969"> M</span>ackesy</h3>
		<p>Certified Iyengar Yoga Instructor</p>

		<p>
			Hello and welcome. It’s an honor to share my love of yoga with you. I’m Kimberly,
			a Certified Iyengar Yoga Teacher, and <em style="color:#a61969">“KZaM”</em> is a whimsical nickname that’s short for
			my real name: <em><span style="color:#a61969">K</span>imberly <span style="color:#a61969"> Za</span>nger <span style="color:#a61969"> M</span>ackesy.</em></h3>
			<br />
			<br />
			I go by <em style="color:#a61969">“KZaM”</em> because I believe in magic. Not magic where you wave a wand and 
			boom! your wish is granted, but the real kind of everyday magic that involves effort,
			letting go, and a hearty dash of mystery. A child’s first steps. An ace performance, 
			delivered. Balancing in a headstand for the first time. Life’s magical moments are
			created over time and realized in an instant; to me, creating these moments is what
			Yoga is all about.
			<br />
			<br />
			I invite you to explore this site, get in touch, and find out more about how you can 
			bring real yoga magic into your life.
			<br />
			<br />
			With love,
			Kimberly Zanger Mackesy, CIYT
		</p>
	</article>
</section>
