---
title: Real Yoga Magic
---
<h1>Kimberly Zanger Mackesy</h1>
<p>Certified Iyengar Yoga Instructor</p>

<p>
	Hello and welcome. It’s an honor to share my love of yoga with you. I’m Kimberly,
	a Certified Iyengar Yoga Teacher, and KZaM” is a whimsical nickname that’s short for
	my real name: imberly Zanger Mackesy.</h3>
</p>
<p>
	I go by "KZaM" because I believe in magic. Not magic where you wave a wand and
	boom! your wish is granted, but the real kind of everyday magic that involves effort,
	letting go, and a hearty dash of mystery. A child’s first steps. An ace performance,
	delivered. Balancing in a headstand for the first time. Life’s magical moments are
	created over time and realized in an instant; to me, creating these moments is what
	Yoga is all about.
</p>
<p>
	I invite you to explore this site, get in touch, and find out more about how you can
	bring real yoga magic into your life.
</p>
<p>
	With love,<br />
	Kimberly Zanger Mackesy, CIYT
</p>
